.selected {
  background-color: white;
  color: var(--color-primary);
  border-radius: 25px;
}

@media screen and (max-width: 767px) {
  .selected {
    background-color: white;
    color: var(--color-primary);
    border-radius: 0;
  }
}

#newArea,
#newInput {
  animation: start 300ms ease-in-out;
}

@keyframes start {
  from {
    transform: scaleY(0.9);
  }
  to {
    transform: scaleY(1);
  }
}
