---
import Layout from '@/layouts/Layout.astro';
---

<Layout title='Factify' pathname="/">
  <main class='w-full flex flex-col justify-center items-start'>
    <section
      class="w-full h-screen bg-[url('/assets/Fondo.svg')] bg-auto bg-repeat"
    >
    </section>
  </main>
</Layout>
