---
import Layout from '@/layouts/Layout.astro';
import Introduction from '@/components/Introduction.astro';
import Analysis from '@/components/Analysis.astro';
import StatsIntroduction from '@/components/StatsIntroduction.astro';
---

<Layout title='Factify' pathname='/'>
  <main class='w-full flex flex-col justify-center items-start'>
    <Introduction />
    <Analysis />
    <StatsIntroduction />
  </main>
</Layout>
