---
import Inform from '@/components/Inform';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Factify' pathname='/informate'>
  <main class='w-full flex flex-col justify-center items-start'>
    <Inform client:idle />
  </main>
</Layout>
