---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Factify' pathname='/informate'>
  <main class='w-full flex flex-col justify-center items-start'>
    <section
      class="w-full lg:h-screen bg-[url('/assets/Fondo.svg')] bg-fixed bg-auto bg-repeat flex justify-center items-center"
    >
      <div
        class='w-4/5 lg:h-full flex flex-col justify-center items-start mt-20 lg:mt-0 mb-20 lg:mb-0'
      >
        <h1 class="text-lg lg:text-xl font-bold text-pretty">Navega Seguro: Tu Guía para Combatir la Desinformación</h1>
        <h3 class="text-lg lg:text-xl font-extralight">
          ¡Aprende a protegerte de las noticias falsas y la desinformación en el
          mundo digital!
        </h3>
      </div>
    </section>
  </main>
</Layout>
