---
import Dashboard from '../components/Dashboard';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Factify' pathname='/tendencias'>
  <main class='w-full flex flex-col justify-center items-start'>
    <section
      class="w-full min-h-screen bg-[url('/assets/Fondo.svg')] bg-fixed bg-auto bg-repeat grid place-items-center"
    >
      <Dashboard client:idle/>
    </section>
  </main>
</Layout>