---
import Logo from '@/components/Logo.astro';
import HamburguerIcon from './icons/HamburguerIcon';

const { pathname } = Astro.props;
---

<header
  class='w-full h-20 bg-[#04001F]/50 backdrop-blur-sm flex justify-center fixed inset-0 z-50'
>
  <div class='w-4/5 flex flex-row justify-between items-center'>
    <Logo width='60px' height='60px' />
    <div class='md:hidden'>
      <HamburguerIcon client:visible />
    </div>
    <nav class='hidden md:flex'>
      <ul class='flex flex-row gap-16'>
        <li
          class:list={[
            'py-1 lg:w-32 md:w-28 lg:text-xl md:text-md text-center',
            { selected: pathname === '/' },
          ]}
        >
          <a href='/'>Inicio</a>
        </li>
        <li
          class:list={[
            'py-1 lg:w-32 md:w-28 lg:text-xl md:text-md text-center',
            { selected: pathname === '/analizar' },
          ]}
        >
          <a href='/analizar'>Analizar</a>
        </li>
        <li
          class:list={[
            'py-1 lg:w-32 md:w-28 lg:text-xl md:text-md text-center',
            { selected: pathname === '/estadisticas' },
          ]}
        >
          <a href='/estadisticas'>Estadísticas</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style>
  .selected {
    background-color: white;
    color: var(--color-primary);
    border-radius: 25px;
  }
</style>
