<section
  class="w-full lg:h-screen bg-[url('/assets/Fondo.svg')] bg-fixed bg-auto bg-repeat flex justify-center items-center"
>
  <div
    class='w-4/5 lg:h-full flex flex-col-reverse lg:flex-row-reverse justify-between items-center mt-20 lg:mt-0 mb-20 lg:mb-0'
  >
    <article class='w-full lg:w-1/2 flex flex-col gap-5 relative z-0'>
      <h2 class='text-lg lg:text-xl font-medium text-pretty'>
        Descubriendo la Verdad a Través de los Números
      </h2>
      <p class='text-lg lg:text-xl font-extralight'>
        En un mundo donde la verdad es a menudo difícil de distinguir entre el
        ruido de la desinformación, ¡Factify! brilla como un faro de
        confiabilidad. Más que una simple herramienta de verificación de hechos,
        ofrecemos una ventana hacia la verdad a través de estadísticas globales
        y generales de una variedad de noticias. Con nuestra plataforma, puedes
        explorar tendencias, patrones y datos reveladores que te permiten
        entender mejor el panorama informativo. Ya no se trata solo de discernir
        la verdad de la mentira, sino de comprender las tendencias que subyacen
        en el flujo constante de información.
      </p>
    </article>
    <picture class='relative z-0 lg:w-96 lg:h-96 w-80 h-80'>
      <img
        class='lg:w-96 lg:h-96 w-80 h-80'
        src='/assets/stadistics.svg'
        alt='Redes'
      />
    </picture>
  </div>
</section>

<style>
  picture::after {
    background-color: #5f78ff;
    border-radius: 50%;
    content: '';
    filter: blur(100px);
    height: 75%;
    left: 12.5%;
    position: absolute;
    top: 12.5%;
    width: 75%;
    z-index: -1;
  }

  article::after {
    background-color: var(--color-primary);
    border-radius: 50%;
    content: '';
    filter: blur(50px);
    height: 150%;
    left: 0;
    position: absolute;
    top: -25%;
    width: 100%;
    z-index: -1;
  }

  @media screen and (max-width: 768px) {
    picture::after {
      background-color: #5f78ff;
      border-radius: 50%;
      content: '';
      filter: blur(100px);
      height: 50%;
      left: 25%;
      position: absolute;
      top: 25%;
      width: 50%;
      z-index: -1;
    }

    article::after {
      background-color: var(--color-primary);
      border-radius: 50%;
      content: '';
      filter: blur(50px);
      height: 100%;
      left: 0;
      position: absolute;
      top: 0%;
      width: 100%;
      z-index: -1;
    }
  }
</style>
