.selected {
  background-color: white;
  color: var(--color-primary);
  border-radius: 25px;
}

@media screen and (max-width: 768px) {
  .selected {
    background-color: white;
    color: var(--color-primary);
    border-radius: 0;
  }
}
