---
import Layout from '../../layouts/Layout.astro';
---

<Layout title='Factify' pathname='/analizar'>
  <main class='w-full flex flex-col justify-center items-start'>
    <section
      class="w-full h-screen bg-[url('/assets/Fondo.svg')] bg-auto bg-repeat"
    >
      <h1>Sintactico</h1>
    </section>
  </main>
</Layout>
