---
import Header from '@/components/Header.astro';

interface Props {
  title: string;
  pathname: string;
}

const { title, pathname } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Factify' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/FactifyLogo.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>

    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'
      rel='stylesheet'
    />
  </head>
  <body>
    <Header pathname={pathname} />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --color-primary: #04001f;
  }
  html {
    font-family: Montserrat, system-ui, sans-serif;
    background: var(--color-primary);
    color: white;
  }
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
  }
</style>
